// 全局变量
@import 'src/styles/variables';
// ele样式覆盖
@import 'src/styles/element-ui';
// 顶部右侧显示
@import 'src/styles/top';
// 导航标签
@import 'src/styles/tags';
// 工具类函数
@import 'src/styles/mixin';
// 侧面导航栏
@import 'src/styles/sidebar';
// 动画
@import 'src/styles/animate/vue-transition';
//主题
@import 'src/styles/theme/index';
//适配
@import 'src/styles/media';
//通用配置
@import 'src/styles/normalize';

a {
  text-decoration: none;
  color: #333;
}

* {
  outline: none;
}

// 关于 图标 CSS 的设置
[class^="icon-"] {
  font-family: "iconfont" !important;
  /* 以下内容参照第三方图标库本身的规则 */
  font-size: 18px !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.avue-input-icon__item i, .avue-crud__icon--small {
  font-family: "iconfont" !important;
  /* 以下内容参照第三方图标库本身的规则 */
  font-size: 24px !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.el-menu-item [class^=icon-] {
  margin-right: 5px;
  width: 24px;
  text-align: center;
  font-size: 18px;
  vertical-align: middle;
}

.el-submenu [class^=icon-] {
  vertical-align: middle;
  margin-right: 5px;
  width: 24px;
  text-align: center;
  font-size: 18px;
}
